{% assign blogs = site.blogs | sort: 'image' | reverse %}

<div class="blog-container">
  {% for blog in blogs %}
  <div class="blogs">

    <a href="{{ blog.url }}">
      {% if blog.image %}
        {% comment %}
          {% responsive_image_block %}
            path: {{ blog.image | remove_first: "/" }}
          {% endresponsive_image_block %}
        {% endcomment %}
        <img src="{{ blog.image | replace: '/images/blogs/', 'assets/resized/400/' }}" alt="{{ blog.title }}" class="fully-contained-image">
      {% endif %}
    </a>

    <div class="text-container">
      <p style="padding-bottom: 4px"><a href="{{ blog.url }}" style="color: black;">{{ blog.title }}</a></p>
      <p>{% if blog.description %}{{ blog.description }}<br>{% endif%}<span style="font-weight: 600;">tagged</span>
        {% for tag in blog.tags %}
          <a href="/tagged/{{ tag | downcase | replace: ' ', '_'}}"><span class="tags" style="margin-left: 4px;">{{ tag | downcase }}</span></a>
        {% endfor %}<br>
      <span style="font-weight: 600;">published</span> {{ blog.date | date: "%A, %B %d, %Y" }}</p>
      <!--
      {% for tag in blog.tags %}
        {% if tag == 'Print' %}
          <button class="button-color"><a href="{{ blog.url }}">Print Available</a></button>
        {% endif %}
      {% endfor %}
      -->
      <!--{{ blog.content }}-->
    </div>
  </div>
  {% endfor %}
</div>
