{% assign blogs = site.blogs | sort: 'image' | reverse %}

<div class="blog-container">
  {% for blog in blogs %}
  <div class="blogs">
    <a href="{{ blog.url }}">

      <img src="{{ blog.image | replace: '/images/blogs/', '/resized/400/' }}" alt="{{ blog.title }}" class="fully-contained-image">
    </a>

    <div class="text-container">
      <h4><a href="{{ blog.url }}">{{ blog.title }}</a></h4>
      <p>{{ blog.description }}</p>
      <p><b>tagged
        {% for tag in blog.tags %}
          #<a href="/tagged/{{ tag | downcase | replace: ' ', '_'}}"><span class="tags">{{ tag | downcase }}</span></a>
        {% endfor %}
      </b></p>
      <p><b>written on</b> {{ blog.date | date: "%A, %B %d, %Y" }}</p>

      <!--
      {% for tag in blog.tags %}
        {% if tag == 'Print' %}
          <button class="button-color"><a href="{{ blog.url }}">Print Available</a></button>
        {% endif %}
      {% endfor %}
      -->

    </div>
  </div>
  {% endfor %}
</div>
