<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.tag %}Tagged: {{ page.tag }}{% else %}{{ page.title }}{% endif %} | Aneta Camo</title>

  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% endif %}"/>
  <meta property="og:title" content="{% if page.tag %}Tagged: {{ page.tag }}{% else %}{{ page.title }}{% endif %} | Aneta Camo"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:url" content="{{ page.url }}" />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.logo }}{% endif %}"/>
  <meta name="twitter:title" content="{% if page.tag %}Tagged: {{ page.tag }}{% else %}{{ page.title }}{% endif %} | Aneta Camo"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
