<!-- BEGIN: KEYWORDS SEARCH -->
<div class="right-side-menu" {% unless page.date %}style="position:fixed;"{% endunless %}>
  <div class="keyword-search">
    <input type="text" id="myInput" onkeyup="myFunction();" onclick="displayKeywords();" placeholder="Find the hash..." autocomplete="off">
      <div class="keyword-container">
        <ul id="myUL">
          {% for item in site.tagged %}
            <li>
              <a href="/tagged/{{ item.tag | downcase | replace: ' ', '_' }}">{{ item.tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>

<script src="/javascripts/keywords_search.js"></script>
<!-- END: KEYWORDS SEARCH -->
