<div class="side-menu" {% unless page.date %}style="position:fixed"{% endunless %}>
  <a href="/">
    <div class="logo">
      <img src="/images/anetacamo_black.png" alt="anetacamo AnetaCamova logo">
    </div>
  </a>

  <div class="portrait-container">
    <div class="menu-list">
      <h5><b><a href="/cv">cv</a></b></h5>
      <h5><b><a href="/tagged/print/">prints</a></b></h5>
    </div>

    {% unless page.date %}
    {% unless page.cv %}
    <div class="portrait right">
      <img src="/images/autoportrait.gif" alt="anetacamo AnetaCamova portrait">
    </div>
    {% endunless %}
    {% endunless %}

    <div class="portrait-description">
      <p>instagram // <a href="https://www.instagram.com/aneccca"><b>aneccca</b></a><br>
      <a style="margin: 0;" href="mailto: anetacamova@gmail.com"><b>anetacamova@gmail.com</b></a></p>
      <p style="margin-bottom: 0;"><b>@anetacamo, 2019.</b> All rights reserved</p>
    </div>
  </div>
</div>
