<div class="side-menu" {% unless page.date %}style="position:fixed"{% endunless %}>
  <a href="/">
    <div class="logo">
      <img src="/images/anetacamo_black.png" alt="Aneta Camo illustrations and web design logo">
    </div>
  </a>
</div>

<div class="footer">
  <div class="menu-list">
    <h5><b><a href="/cv">cv</a></b></h5>
    <h5><b><a href="/tagged/print/">prints</a></b></h5>
  </div>
  <!--
  <div class="portrait right">
    <img src="/images/autoportrait.gif" alt="Aneta Camo Aneta Camova portrait">
  </div>
  -->
  <p>instagram // <a href="https://www.instagram.com/aneccca">aneccca</a><br>
  <a style="margin: 0;" href="mailto: anetacamova@gmail.com">anetacamova@gmail.com</a></p>
  <p style="margin-bottom: 0;">@<span style="font-weight: 900">anetacamo</span>, 2019. All rights reserved</p>
</div>
