.sell {
  margin: 24px 0;
  background-color: $pink;
  padding: 12px;
  padding-right: 24px;
  color: white;
  background: linear-gradient(to right, $pink, $yellow);
  button {
    margin-top: 0;
  }
}

.nav {
  position: absolute;
  top: 45%;
  width: 100%;
  @media (max-width: 620px) {
    bottom: -20px;
  }
  .nav-arrows a {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .left {
    left: -16px;
  }
  .right {
    right: -16px;
  }
}

.blog-text {
  padding: 24px 0;
  padding-right: 16px;
  position: absolute;
  right: 0px;
  bottom: 48px;
  max-width: 280px;
  background-color: white;
  padding-left: 40px;
  @media (max-width: 600px) {
    position: static;
    padding: 0;
    max-width: none;
    padding-bottom: 32px;
    padding-top: 56px;
  }
}
