.blog-container {
  overflow: auto;
  padding: 12px;
  padding-bottom: 0;
  @media (max-width: 1200px) {
    padding-left: 232px;
  }
  @media (max-width: 1000px) {
    padding-left: 176px;
  }
  @media (max-width: 600px) {
    padding-top: 112px;
    padding-left: 12px;
  }
  .blogs {
    overflow: auto;
    max-width: 680px;
    margin: auto;
    @media (max-width: 1200px) {
      margin:0;
    }
    img {
      margin-bottom: 12px;
      margin-right: 12px;
      float: left;
      max-height: 400px;
      max-width: 400px;
      @media (max-width: 750px) {
        float: none;
      }
      @media (max-width: 600px) {
        max-width: calc(100vw - 24px);
        max-height: calc(100vh - 124px);
      }
    }

    .text-container {
      padding-bottom: 24px;
      font-size: 10px;
      h4 {
        margin: 0;
        margin-bottom: 6px;
      }
      p {
        margin: 0;
        line-height: 1.2;
        margin-bottom: 4px;
      }
    }
  }
}
