.cv-container {
  h1 {
    font-size: 46px;
    margin-bottom: -32px;
  }
  h2 {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    float: none !important;
    margin: 0 !important;
  }
}
