.cv-container {
  h1 {
    font-size: 46px;
    margin-bottom: -32px;
  }
  h2 {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    float: none !important;
    margin: 0 !important;
    margin-top: 16px !important;
    margin-bottom: -16px !important;
  }
  .tags li {
    display: inline-block;
    background: #f2f2f2;
    padding: 0px 8px;
    border-radius: 4px;
  }
}
