.blog-container {
  max-width: 480px;
  margin: auto;
  //  overflow: auto;
  padding: 12px;
  padding-bottom: 0;
  @media (max-width: 800px) {
    margin-right: 0;
  }
  @media (max-width: 600px) {
    padding-left: 12px;
    margin-right: auto;
    width: calc(100% - 24px);
  }
  .blogs {
    overflow: auto;
    margin: auto;
    @media (max-width: 1200px) {
      margin: 0;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    img {
      filter: grayscale(100%);
      &:hover {
        filter: none;
        transition-duration: 350ms;
      }
      min-width: 100%;
      width: 100%;
      margin-bottom: 4px;
    }

    .text-container {
      position: relative;
      padding-bottom: 24px;
      padding-right: 36px;
      font-size: 10px;
      .title {
        padding-bottom: 12px;
      }
      h4 {
        margin: 0;
        margin-bottom: 6px;
      }
      p {
        margin: 0;
        line-height: 1.2;
      }
    }
  }
}

.circle {
  h2 {
    margin-top: 24px;
    line-height: 0.9;
  }
}
