.blog-container {
  max-width: 480px;
  margin: auto;
  //  overflow: auto;
  padding: 12px;
  padding-bottom: 0;
  @media (max-width: 800px) {
    margin-right: 0;
  }
  @media (max-width: 600px) {
    padding-top: 100px;
    padding-left: 12px;
    margin-right: auto;
  }
  .blogs {
    overflow: auto;
    margin: auto;
    @media (max-width: 1200px) {
      margin: 0;
    }
    img {
      filter: grayscale(100%);
      &:hover {
        filter: none;
        transition-duration: 350ms;
      }
      min-width: 100%;
      width: 100%;
      margin-bottom: 4px;
      @media (max-width: 600px) {
        //  max-height: calc(100vh - 124px);
      }
    }

    .text-container {
      position: relative;
      padding-bottom: 24px;
      font-size: 10px;
      .title {
        padding-bottom: 12px;
      }
      h4 {
        margin: 0;
        margin-bottom: 6px;
      }
      p {
        margin: 0;
        line-height: 1.2;
      }
    }
  }
}

.circle {
  height: 80px;
  width: 80px;
  background-color: $pink;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  text-align: center;
  animation: rotating 2s ease-in-out infinite;
  h2 {
    margin-top: 24px;
    line-height: 0.9;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
