button {
  padding: 8px 12px;
  background: transparent;
  margin: 4px;
  font-size: 12px;
  font-family: Roboto Slab;
  border-style: dashed;
  border-color: $pink;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: $pink;
    border-color: $pink;
    color: white;
    transition-duration: 350ms;
  }
}

input,
textarea,
select {
  padding: 8px 12px;
  margin: 4px;
  border: 2px solid $pink;
  color: $pink;
  font-family: Roboto Slab;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 300;
  width: 162px;
  box-sizing: content-box;
  @media (max-width: 424px) {
    width: calc(50% - 36px);
  }
  @media (max-width: 360px) {
    width: calc(100% - 36px);
  }
  &.large {
    width: 360px;
    @media (max-width: 424px) {
      width: calc(100% - 36px);
    }
  }
  &:focus-visible,
  &:focus {
    background-color: #f7f7f7;
    border: none;
    transition-duration: 350ms;
    padding: 10px 14px;
    outline: none;
  }
  &:valid {
    position: relative;
    &:after {
      content: "✓";
      position: absolute;
      right: 8px;
      color: $blue;
    }
  }
}
input[type="radio"] {
  width: auto;
  &:after {
    content: "";
  }
}
textarea {
  min-height: 100px;
}

.tag {
  display: inline;
  background-color: $blue;
  padding: 4px 8px;
  color: black;
  font-weight: 600;
  font-size: 0.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2px;
  &:before {
    content: none;
  }
}
input.pink {
  background-color: $pink;
  color: white;
}

.formspree {
  max-width: 400px;
  margin: auto;
  p,
  li {
    text-align: left;
  }
  p,
  ul {
    padding-left: 8px;
  }
}

.cart {
  padding: 8px;
}
