.right-side-menu {
  position: absolute;
  top: 0;
  right: 12px;
  padding: 16px;
  padding-right: 0;
  position: fixed;
  animation-duration: 350ms;
  transition-duration: 250ms;
  width: 240px;
  background-color: black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
  @media (max-width: 600px) {
    display: none;
  }
  &.hidden {
    top: -300px;
  }
  .keyword-search {
    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-family: Roboto Slab;
      font-weight: 600;
      color: $pink;
      @media (max-width: 1000px) {
        width: 160px;
      }
    }
    ::placeholder {
      font-family: Roboto Slab;
      font-size: 12px;
      letter-spacing: 0.4px;
      cursor: pointer;
      font-weight: 900;
      color: white;
    }
    .keyword-container {
      padding-top: 4px;
      overflow-y: scroll;
      transition-duration: 350ms;
      max-height: 200px;
      &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $blue;
      }
      a {
        color: white;
        font-weight: 600;
        letter-spacing: 0.8;
      }
      li {
        list-style: none;
        font-size: 10px;
        padding-left: 16px;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-right: 16px;
        border-radius: 4px;
        a {
          display: block;
          color: white;
          text-decoration: none;
        }
        &:hover {
          transition-duration: 350ms;
          cursor: pointer;
          background-color: $pink;
        }
        &::before {
          color: $blue;
        }
      }
    }
    .open {
      height: auto;
      border: none;
      transition-duration: 350ms;
      transition-timing-function: ease;
      border-bottom: 1px solid #1ccfc9;
    }
  }
}
