.shopping-cart {
  position: fixed;
  top: 12px;
  right: 60px;
  text-align: right;
  z-index: 2;
  @media (max-width: 600px) {
    right: 12px;
  }
  img {
    object-fit: contain;
    object-position: top right;
    filter: grayscale(1);
    z-index: 2;
    position: relative;
    background-color: #e2e2e2;
    border-radius: 50%;
    padding: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      background-color: white;
    }
  }
  .items-count {
    position: absolute;
    background-color: white;
    padding: 7px 4px 8px 4px;
    font-weight: 900;
    margin: 0;
    line-height: 0;
    border-radius: 50%;
    top: 0px;
    right: 34px;
    z-index: 3;
  }
  .success-message {
    background-color: $pink;
    position: absolute;
    z-index: 1;
    width: max-content;
    color: white;
    margin: 0;
    line-height: 0;
    padding: 12px 12px;
    top: -22px;
    width: 2px;
    right: 5px;
    transition-duration: 425ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    &.visible {
      right: 45px;
      width: 130px;
    }
  }
}

.cart {
  .x-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 6px;
    border: none;
    margin: 0;
  }
  .shop-section {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-input {
    max-width: 360px;
    margin: 4px auto;
    padding: 8px 12px;
    border: solid $pink 2px;
  }
  .flex {
    justify-content: center;
    max-width: calc(100vw - 80px);
    flex-wrap: wrap;
    margin: auto;
  }
  .cart-item {
    text-align: left;
    margin: 4px;
    max-width: 240px;
    p {
      max-width: 120px;
      font-size: 10px;
      line-height: 1.6;
      margin: 0;
    }
    .image-holder {
      margin-top: 32px;
      margin-bottom: 32px;
      height: 200px;
      img {
        max-width: 228px;
        max-height: 188px;
        object-fit: cover;
        object-position: bottom;
        border: 6px solid black;
      }
    }
  }
}
