.tagged {
  p {
    margin-top: 132px;
    padding: 12px;
    letter-spacing: 1px;
    margin-bottom: -8px;
    padding-bottom: 0;
  }
  .selling-button {
    padding: 24px;
    text-align: center;
    p {
      margin: 0;
      padding: 0px 6px;
    }
  }
  .squares {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 6px;
    .square {
      height: 360px;
      position: relative;
      min-width: 280px;
      max-width: 100%;
      flex: 1 1;
      overflow: hidden;
      margin: 6px;
      img:hover {
        height: 110%;
        width: 110%;
        transition-duration: 350ms;
        margin-bottom: -10px;
        margin-left: -5%;
        margin-top: -10px;
      }
    }
    &.small {
      margin: -4px;
      .square {
        height: 160px;
        min-width: 160px;
        max-width: 200px;
        margin: 4px;
      }
    }
    &.prints {
      .square {
        height: 540px;
        margin: 12px;
        img {
          height: 360px;
        }
        img:hover {
          height: 370px;
          margin-bottom: 0px;
        }
        h2,
        p {
          text-align: center;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .tag {
    background-color: $blue;
    border-radius: 4px;
    text-align: center;
    padding: 8px 12px;
    margin: 4px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: lowercase;
    display: inline;
    font-size: 10px;
  }

  .text {
    margin: 16px 0;
    max-width: 620px;
    padding: 0 12px;
  }
}
.tags {
  text-transform: lowercase;
}
