@import "/./src/styles/colors.scss";

.taggeddot {
  background-color: #eee;
  border: none;
  text-decoration: underline;
  padding: 8px;
  margin: 4px;
  border-radius: 50%;
  &.active {
    background-color: $pink;
    cursor: default;
  }
}

.dot-holder {
  position: absolute;
  top: 6px;
  margin: auto;
  width: 100%;
}
