@import '/./src/styles/colors.scss';

.left,
.right {
  font-size: 16px;
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 12px 8px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
}
.left {
  left: -8px;
}
.right {
  right: -8px;
}

.active {
  background-color: $pink;
  cursor: default;
}

.taggeddot {
  background-color: #eee;
  border: none;
  text-decoration: underline;
  padding: 8px;
  margin: 4px;
  border-radius: 50%;
  //border: 2px solid $pink;
  &.active {
    background-color: $pink;
    cursor: default;
  }
}

.dot-holder {
  position: absolute;
  top: 6px;
  margin: auto;
  width: 100%;
  z-index: 3;
}
