@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: "Abril Fatface";
    src: url("../fonts/AbrilFatface-Regular.ttf");
}


@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Light.ttf");
	font-weight: 100;
}


@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Regular.ttf");
	font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Bold.ttf");
		font-weight: Bold;
}




* {
	margin: 0;
	font-family: Abril Fatface;
}

html, body {
    height: 100%;
    width:100%;
}


a {
	text-decoration: none;
    color: inherit;
}

p {
    font-family: Merriweather;
}

h1 {
    padding-bottom: 15px;
    padding-top: 25px;
}



.full {	
	height: 100vh;
	width: 100%;
    background-size: cover;
}	

.drinks {		
  	background: url(../img/drinksPink.jpg);
    background-size: cover;
}

.drinks3 {
    background: url(../img/drinksBB.jpg);
}

.titlePage {	
	background-color: white;
}	

.header {	
    z-index: 3;
	background-color: black;
	height: 70px;
	width: 100%;
	position: fixed;
}	

.logo {	
	background-image: url("../img/drinkupWhite.png");
	height: 46px;
	width: 170px;
	margin: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	float:left;
}	

.menu {
    float: right;
	font-family: Abril Fatface;
	font-weight: 100;
	font-size: 25px;
	padding: 20px;
}

li {	
	display: inline-block; 
	margin-left: 10px;
	margin-right: 10px;
    color: white;
}  
	
	
li:hover {
	border-bottom: 5px solid #90eae5;
	color: #90eae5;
}

.pink {	
	color:#90eae5; 
	margin-left: 30px;
} 






.contain {
    letter-spacing: 2px;
    padding: 30px;
    padding-bottom: 35px;
    padding-top: 10px;
    width: 340px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register {
    color: white;
    text-align: center;
    font-family: Abril Fatface;
    text-transfom: uppercase;
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.field {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    font-family: oswald;
    text-align: left;
    font-size: 25px;
    display: block;
    border: 2px white solid;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 16px;
}

.left, .right {
    color: black;
    font-size: 35px;
    font-family: Abril Fatface;
    background-color: white;
    text-align: center;
    margin-bottom: 15px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.left {
    float: left;
    color: white;
    border: 2px solid #ff002d;
    background: #ff002d;
}

.left:hover, .right:hover {
    background: black;
	transition: background-color 0.5s ease;
}

.right:hover {
    color: white;
}

.right {
    float: right;
}

.hidden {
    display: none;
}






.heading {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
}

.shadow {
    text-shadow: 3px 3px #090192;
}

.shadowB {
    text-shadow: 3px 3px #0b9a92;

}


.front {
    width: 600px;
    color: white;
    background-color: transparent;
    text-align: center;
}

.talk {
    font-family: Oswald;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.button {
    border: 2px solid white;
    background: transparent;
    width: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: inline;
    margin-top: 100px;
}

.button:hover {
    border: 2px solid white;
    background: white;
    color: black;
    transition: background-color 0.5s ease;
}

.wrapper {
  	padding: 60px;
  	margin-left: auto;
	margin-right: auto;
	width: 1020px;
    text-align: center;
}


.drinkname {
    font-size: 26px;
    color: black;
}

.drinkname:hover {
    color: #ff002d;
}


.drinkcontainer {
	width: 340px;
	float: left;
	text-align: center;
    height: 600px;
}

.image {
 	margin: 20px;
  	height: 220px;
  	padding: 10px;
  	background-size: contain;
  	background-position: center;
  	background-repeat: no-repeat;
}

.i01 {
  background-image: url("../img/whiter.png");
}

.i02 {
  background-image: url("../img/mojito.png");
}

.i03 {
  background-image: url("../img/gintonic.png");
}

.drinkdescription {
    letter-spacing: 0;
    padding: 15px;
    margin-bottom: 0px;
    font-family: merriweather;
    font-size: 14px;
}





/* search */
.search {
    display: inline;
    width: 150px;
    height: 36px;
    margin-top: 17px;
    padding: 5px;
    font-size: 18px;
    float: left;
}

.go {
    background: white;
    width: 40px;
    color: black;
    margin-left: 0;
    cursor: pointer;
}

.go:hover {
  background: #ff00a8;
  color: white;
  transition: background-color 0.5s ease;
  border: 2px solid #ff00a8; 
}






.drinks2 {
    min-height: 100%;
    margin-bottom: -26px;
}
/*.drinks2:after {
    content: "";
    display: block;
}


.footer, .drinks2:after {
    height: 26px;
}
*/


.footer {
  	color: white;
  	font-family: Oswald;
  	letter-spacing: 2px;
  	background: black;
  	padding: 6px;
    height: 26px;
	text-align: right;
    margin-top: -38px;
}

.footer, .push {
    height: 26px;
}

.content-body {
    padding: 25px;
}

.content-body a {
    text-decoration: none;
}


.content-body a:hover {
    text-decoration: none;
    color: red;
}


h3 {
    text-align: center;
}

.comment {
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
}

.post-body {
    text-align: left;
    font-family: Oswald;
    padding-top: 50px;
    overflow: hidden;
}



.btn {
    font-size: 18px;
    width: auto;
    margin-right: 15px;
    margin-top: 10px;
}

.btn:hover {
    background-color: transparent;
    cursor: pointer;
    color: #ff002d;
}


.clear {
    clear: both;
}

.drinksort {
    margin-bottom: 15px;
}


.drinkscontainer {
    clear: both;
    overflow: hidden;
}

.author, .likes {
    font-family: Merriweather;
    font-size: 14px;
}

.author {
    text-transform: uppercase;
}


.xs {
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.s {
    font-size: 25px;
    font-family: Oswald;
    letter-spacing: 2px;
    text-align: left;
    font-weight: lighter;
}

.comm {
    margin-left: -3px;
    width: 400px;
}

.like {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top {
    padding-top: 40px;
}

.con {
    width: 400px;
}

.black {
    background-color: black;
    background-image: url(../img/drinksBB.jpg);
    background-size: cover;
    padding: 30px;
}

.conte-body {
    padding: 15px;
    padding-top: 80px;
}

.log {
    padding-right: 20px;
    border: 3px black solid;
    margin-left: 15px;
}

.log:hover {
    background-color: transparent;
    padding-right: 20px;
    color: #000000;
    border: 3px black solid;
    transition: background-color 500ms ease-out;
}

.logbg {
    background-image: url(../img/drinksB.jpg);
    background-size: cover;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}
.supertop {
    padding-top: 150px;
}

.stop {
    padding-top: 60px;
}

.middletop {
    padding-top: 80px;
}


.loginF {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.bb {
    padding: 25px;
    padding-top: 0;
}

.bottom {
    padding-bottom: 40px;
    text-align: left;
}

.bigtop {
    padding-top: 140px;
}