.logo {
  top: 0;
  position: absolute;
  @media (max-width: 600px) {
    height: 110px;
    width: 100%;
    background-color: white;
    position: absolute;
  }
  img {
    height: 124px;
    cursor: pointer;
    @media (max-width: 1000px) {
      height: 110px;
    }
  }
}


.footer {
  background-color: white;
  position: absolute;
  z-index: 4;
  padding: 12px;
  bottom: 0;
  @media (max-width: 1000px) {
    width: 160px;
  }
  @media (max-width: 600px) {
    left: 162px;
    top: 18px;
    height: 60px;
    overflow: hidden;
  }
  p {
    font-size: 10px;
    line-height: 1.4;
    margin: 12px 0;
  }
  .portrait {
    margin-bottom: 8px;
    margin-top: 8px;
    img {
      width: 300px;
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }
}
