.logo {
  top: 0;
  position: fixed;
  @media (max-width: 600px) {
    width: 100%;
    background-color: white;
  }
  img {
    height: 124px;
    cursor: pointer;
    @media (max-width: 1000px) {
      height: 110px;
    }
  }
  &.small-sized {
    img {
      height: 110px;
    }
  }
}

.portrait {
  position: fixed;
  bottom: 0;
  left: 8px;
  width: 500px;
  height: 200px;
  background-image: url(/images/profile.gif);
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 350ms;
  cursor: pointer;
  &:hover {
    background-image: url(/images/meh.png);
    transition-duration: 350ms;
  }
  &.small-sized {
    height: 140px;
  }
  @media (max-width: 900px) {
    width: 180px;
    height: 120px;
  }
  @media (max-width: 600px) {
    top: 16px;
    left: 180px;
    width: 132px;
    height: 80px;
  }
}

.hash {
position: fixed;
top: 12px;
right: 8px;
width: 60px;
height: 100px;
z-index: 1;
background-image: url(/images/hash.gif);
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
}

// scrollbar
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: $pink;
}
body, a, img {
  cursor: url(/images/pointer4.png), auto;
  transition-duration: 350ms;
  &:hover {
    cursor: url(/images/pointer4.png), auto;
    transition-duration: 350ms;
  }
}
