.logo {
  top: 0;
  left: 0;
  position: fixed;
  @media (max-width: 600px) {
    width: 100%;
    background-color: white;
  }
  img {
    height: 110px;
    cursor: pointer;
  }
}
.portrait,
.postcard {
  position: fixed;
  left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 350ms;
  cursor: pointer;
}
.portrait {
  bottom: 194px;
  width: 500px;
  height: 140px;
  background-image: url(/images/profile.gif);
  &:hover {
    background-image: url(/images/meh.png);
    transition-duration: 350ms;
  }
  &.small-sized {
    height: 140px;
    bottom: 4px;
  }
  @media (max-width: 900px) {
    width: 180px;
    height: 120px;
  }
  @media (max-width: 600px) {
    top: 16px;
    left: 180px;
    width: 132px;
    height: 80px;
  }
}
.postcard {
  bottom: 4px;
  height: 180px;
  width: 320px;
  background-image: url(/images/homes.jpg);
  &:hover {
    background-image: url(/images/homes_bw.jpg);
  }
  &.small-sized {
    display: none;
  }
}

.hash {
  position: fixed;
  top: 12px;
  right: 8px;
  width: 60px;
  height: 100px;
  z-index: 1;
  background-image: url(/images/hash.gif);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

// scrollbar
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: $pink;
}
body,
a,
img {
  cursor: url(/images/pointer4.png), auto;
  transition-duration: 350ms;
  &:hover {
    cursor: url(/images/pointer4.png), auto;
    transition-duration: 350ms;
  }
}
