---
layout: default
---

{% include prev_next.html %}
<div class="single-blog-container">
  {% if page.image %} {% responsive_image_block %} path: {{ page.image |
  remove_first: "/" }} {% endresponsive_image_block %}
  <img
    src="{{ page.image | replace: '/images/blogs/', '/resized/800/' }}"
    alt="{{ page.title }} by Aneta Camo"
    class="single-blog-image"
  />
  {% endif %}

  <!-- blog main text -->
  <div class="align-right blog-text">
    <p style="margin: 0 !important">
      <b>
        {% for tag in page.tags %}
        <a href="/tagged/{{ tag | downcase | replace: ' ', '_'}}"
          ><span class="tags">{{ tag | downcase }}</span></a
        >
        {% endfor %}
      </b>
    </p>
    <p style="margin: 0; font-size: 10px">
      {{ page.date | date: "%A, %B %d, %Y" }}
    </p>
    <h1>{{ page.title }}</h1>
    <!--
    <p>{{ page.description }}</p>-->

    <!-- BUY 
    {% for tag in page.tags %} {% if tag == 'Print' %}
    <section class="sell">
      <div class="btn-bg">
        <a href="{{ blog.url }}">Get this print</a>
      </div>
      {% if page.collection %}
      <p style="margin: 8px 0">Available {{ page.collection }}</p>
      {% endif %}
    </section>
    {% endif %} {% endfor %}
    BUY end -->
    <!--
  </div>
  {% if page.content %}
  <div class="blog-container">
    {{ content }}
  </div>
  {% endif %}
  --></div>
</div>
