---
layout: wide
---

{% assign p_tag = page.tag %}

{% assign tagged = "" | split: ',' %}
{% for blog in site.blogs %}
  {% for tag in blog.tags %}

    {% if tag == p_tag %}
      {% assign tagged = tagged | push: blog %}
    {% endif %}
    {% if p_tag == "Everything" %}
      {% assign tagged = tagged | push: blog %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign tagged = tagged | uniq %}

{% for blog in tagged %}
 {% if forloop.first %}
  {% assign blog-image = blog.image %}
 {% endif %}
{% endfor %}


  <p style="margin-top: 160px; padding: 12px; text-transform:uppercase; letter-spacing: 2px; margin-bottom: 0; font-family: 'Open Sans', sans-serif;">
    <b>All blogs tagged <br><span class="bold underlined" style="font-weight: 800;">{{ page.title }}</span></b>
  </p>

  {% if page.description %}<div style="margin:16px 0; max-width:620px; padding: 0 12px;">{{ page.description }}</div>{% endif %}
  <div style="margin:16px 0; max-width:620px; padding: 0 12px;">{{ page.content }}</div>

  <div class="squares{% if p_tag == "Everything" %} small{% endif %}">
    {% for blog in tagged %}
      <div class="square">
        <a href="{{ blog.url }}">
          <div class="img-box">
            <img class="fully-covering-image" src="{{ blog.image | replace: '/images/blogs/', '/resized/400/' }}" alt="{{ blog.title }} by Aneta Camo">
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

<!--  <div class="tag">hello</div>-->
