---
layout: wide
---


{% assign tagged = "" | split: ',' %}
{% for blog in site.blogs %}
  {% for tag in blog.tags %}
    {% assign p_tag = page.tag %}
    {% if tag == p_tag %}
      {% assign tagged = tagged | push: blog %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign tagged = tagged | uniq %}

{% for blog in tagged %}
 {% if forloop.first %}
  {% assign blog-image = blog.image %}
 {% endif %}
{% endfor %}


<div class="blog-container" style="margin-left: 0; padding:0;">
  <div style="position: absolute; font-size: 10px; font-weight: 900; text-decoration: underline; padding-right: 6px; color: white;">
    tagged {{ page.tag }}
  </div>

  <div style="width: 100vw; height: 50vh; position: relative;">
    <img src="{% if page.image %}{{ page.image }}{% else %}{{ blog-image }}{% endif %}"  class="fully-covering-image" alt="{{ page.title | slugify }}_anetacamo_AnetaCamova">
    <div style="background-image: linear-gradient(transparent 80%, white); position:absolute; top: 0; height:100%;">
    <p style="position:absolute; margin:0; margin-bottom: -6px; bottom: 0; width: 100vw; padding: 12px; padding-bottom: 0; background: white; font-weight: 800; text-decoration: underline;">
    All blogs tagged<a href=""> {{ page.title }}</a></p>
  </div>


  <div class="tag-container">
  {% for blog in tagged %}
  <a href="{{ blog.url }}">
    <div style="width: 300px; height:300px; margin: 12px; margin-bottom: 48px; float:left; color: black;">
      <img class="fully-covering-image" src="{{ blog.image }}">
      <p style="margin-bottom: 0; font-weight: 900; margin-top: 8px; line-height: 1.2; -webkit-text-fill-color: black;">{{ blog.title }}<br></p>
      {% if page.tag == 'Print' %}
        <p style="margin-top: 0; font-weight: 900;"><a href="{{ blog.url }}">250dkk // 35€</a></p>
      {% endif %}
    </div>
  </a>
  {% endfor %}
  </div>

</div>
