---
layout: wide
---

{% assign tagged = "" | split: ',' %}
{% for blog in site.blogs %}
  {% for tag in blog.tags %}
    {% assign p_tag = page.tag %}
    {% if tag == p_tag %}
      {% assign tagged = tagged | push: blog %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign tagged = tagged | uniq %}

{% for blog in tagged %}
 {% if forloop.first %}
  {% assign blog-image = blog.image %}
 {% endif %}
{% endfor %}

<div style="height: 50vh;">
  <img src="{% if page.image %}{{ page.image }}{% else %}{{ blog-image }}{% endif %}" class="fully-covering-image" alt="{{ page.title | slugify }}_anetacamo_AnetaCamova">
</div>

<div class="tag-container flex-display">
  <h5 class="center" style="width: 100%; margin-top: 12px; padding: 12px; font-weight: 800;">
    All blogs tagged <a href="">{{ page.title }}</a>
  </h5>
  {% for blog in tagged %}
  <a href="{{ blog.url }}">
    <div class="square">
      <img class="fully-covering-image" src="{{ blog.image }}">
      <p style="margin-bottom: 0; font-weight: 900; margin-top: 8px; line-height: 1.2; -webkit-text-fill-color: black;">{{ blog.title }}<br></p>
      {% if page.tag == 'Print' %}
        <p style="margin-top: 0; font-weight: 900;"><a href="{{ blog.url }}">250dkk // 35€</a></p>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
